global_costmap:
  global_frame: map
  robot_base_frame: ego_racecar/base_link
  update_frequency: 100.0
  publish_frequency: 100.0
  static_map: true


  plugins:
    - {name: static,                  type: "costmap_2d::StaticLayer"}
   # - {name: obstacles_laser,         type: "costmap_2d::ObstacleLayer"}
    - {name: inflation,               type: "costmap_2d::InflationLayer"}
